@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-width: 561px;
  --main-bg: #F6F6F6;
  --main-shadow: rgba(0,0,0,.25);
  --color-wallet: #3e98fa;
  --bg-input: #F8CEAF;
  --border-input: rgba(0,0,0,.5);
  --color-input-error: #ff0000;
  --bg-danger: #FF0000
}
